<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Find top <strong>movies</strong> to <strong>have a laugh</strong>!</h1>
    <a class="btn btn-primary mt-3" href="#">Start Here</a>
  </div>
</div>
<div class="container m-5">
  <h1>List of movies</h1>
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <h2><%= list.name %></h2>
        <%= link_to '', list_path(list), class: "card-link" %>
      </div>
    <% end %>
  </div>
  <%= link_to "Create",  new_list_path, class:'text-decoration-none text-white btn btn-primary m-3' %>
</div>
